@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.login{
  -webkit-box-shadow: 1px -4px 37px -12px rgba(92, 92, 92, 1);
  -moz-box-shadow: 1px -4px 37px -12px rgba(92, 92, 92, 1);
  box-shadow: 1px -4px 37px -12px rgba(92, 92, 92, 1);
}
